.container{
    background-color: var(--bg-primary);
}

.conteudo-principal{
    height: 100%;
    
}

.bem-vindo{
    background-image: url(/public/img/fundo.jpeg);
}

.primeiro-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 60%;
    color: var(--text-main);
}

.primeiro-texto p{
font-size: var(--fs-primary);

}

.primeiro-texto h1{
    font-size: var(--fs-titulo);
}


/*section 2*/
.info-sobre-mim{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    gap: 2rem;
    
}

.info-sobre-mim h2{
    font-size: var(--fs-sub-titulo);
    text-align: center;
    margin-bottom: 3rem;
}

.info-sobre-mim p,
.info-sobre-mim li{
    font-size: 2rem;
    max-width: 800px;
    list-style: none;
}


.hard-skills{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hard-skills h3{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
}

.icone ul{
    display: flex;
    gap: 4rem;
    margin: 10px;
}


/*section 3*/
.contato{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.informacao-contato{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.imagem img{
    margin-top: 2rem;
    width: 200px;
    border-radius: 200%;
}

.dados-contato{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.dados-contato span{
    font-size: 2rem;
    color: var(--text-main);

}

.link-whats{
   text-align: center;

}

.link-whats a{
    padding: 1.5rem 2rem;
    background-color: var(--text-main);
    font-size: var(--fs-primary);
    border-radius: 50px;
    text-decoration: none;
    color: var(--bg-primary);
    transition: 0.3s;
    display: block;
    margin: 0 10px;
    margin-bottom: 2rem;
    
}
.link-whats a:hover{
    background-color: var(--color-accent);
    color: var(--text-main);
    transform: scale(1.2);
}




